:root {
  --primary-hue: 213deg;
  --primary-saturation: 90%;
  --primary-lightness: 70%;
}

body {
  zoom: 88%;
}

.hextra-code-block {
  box-shadow: 1px 1px 2px #22222222, 1px 5px 5px #22222211;
  border-radius: 12px;
}

img {
  border-radius: 0 !important;
  box-shadow: none !important;
}

/* .nav-container {
  background-color: white;
  border-bottom: #22222211;
}

.nav-container-blur {
  display: none;
} */